<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399287117531-853cnp42gtbpm3idp02jcrc0thec4jg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399287117531-853cnp42gtbpm3idp02jcrc0thec4jg4</string>
	<key>API_KEY</key>
	<string>AIzaSyACuyauDTJREwl4Xi6TM5QZ7jIZnLcQq0M</string>
	<key>GCM_SENDER_ID</key>
	<string>399287117531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>medplus-supat</string>
	<key>PROJECT_ID</key>
	<string>medplus-supat-af28f</string>
	<key>STORAGE_BUCKET</key>
	<string>medplus-supat-af28f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399287117531:ios:fdd600820d18590fd78efe</string>
</dict>
</plist>